@page
@model PortfolioWebApp.Areas.Admin.Pages.SimplePages.IndexModel
@{
    ViewData["Title"] = "Simple Pages";
}


<a asp-page="/SimplePages/Add" asp-area="Admin" class="btn btn-primary" role="button" aria-pressed="true">Add New</a>

Test pages index
