@page
@model PortfolioWebApp.Areas.Setup.Pages.IndexModel

@using PortfolioWebApp.Models.Settings.AppSettings;
@{
    ViewData["Title"] = "Setup";
}


<partial name="_StatusMessage" for="StatusMessage" />

@if (Model.SetupStep == SetupStep.Database)
{
    <div class="card">
        <div class="card-header">
            Database
        </div>
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                <b>Mysql only.</b>
            </div>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.DbServer"></label>
                    <input asp-for="Input.DbServer" class="form-control" />
                    <span asp-validation-for="Input.DbServer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DbUser"></label>
                    <input asp-for="Input.DbUser" class="form-control" />
                    <span asp-validation-for="Input.DbUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DbPassword"></label>
                    <input asp-for="Input.DbPassword" class="form-control" />
                    <span asp-validation-for="Input.DbPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Db"></label>
                    <input asp-for="Input.Db" class="form-control" />
                    <span asp-validation-for="Input.Db" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
}
else if (Model.SetupStep == SetupStep.Mailer)
{
    <div class="card">
        <div class="card-header">
            Mailer
        </div>
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                <b>SmtpClient only.</b>
            </div>
            <form method="post">

                <input type="hidden" asp-for="Input.DbServer" />
                <input type="hidden" asp-for="Input.DbUser" />
                <input type="hidden" asp-for="Input.DbPassword" />
                <input type="hidden" asp-for="Input.Db" />

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.MailerHost"></label>
                    <input asp-for="Input.MailerHost" class="form-control" />
                    <span asp-validation-for="Input.MailerHost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MailerPort"></label>
                    <input asp-for="Input.MailerPort" class="form-control" />
                    <span asp-validation-for="Input.MailerPort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MailerCredentialUserName"></label>
                    <input asp-for="Input.MailerCredentialUserName" class="form-control" />
                    <span asp-validation-for="Input.MailerCredentialUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MailerCredentialPassword"></label>
                    <input asp-for="Input.MailerCredentialPassword" class="form-control" />
                    <span asp-validation-for="Input.MailerCredentialPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
}
else if (Model.SetupStep == SetupStep.Account)
{
    <div class="card">
        <div class="card-header">
            Account
        </div>
        <div class="card-body">
            <form method="post">

                <input type="hidden" asp-for="Input.DbServer" />
                <input type="hidden" asp-for="Input.DbUser" />
                <input type="hidden" asp-for="Input.DbPassword" />
                <input type="hidden" asp-for="Input.Db" />

                <input type="hidden" asp-for="Input.MailerHost" />
                <input type="hidden" asp-for="Input.MailerPort" />
                <input type="hidden" asp-for="Input.MailerCredentialUserName" />
                <input type="hidden" asp-for="Input.MailerCredentialPassword" />


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
}
else if (Model.SetupStep == SetupStep.Other)
{
    <div class="card">
        <div class="card-header">
            Account
        </div>
        <div class="card-body">
            <form method="post">

                <input type="hidden" asp-for="Input.DbServer" />
                <input type="hidden" asp-for="Input.DbUser" />
                <input type="hidden" asp-for="Input.DbPassword" />
                <input type="hidden" asp-for="Input.Db" />

                <input type="hidden" asp-for="Input.MailerHost" />
                <input type="hidden" asp-for="Input.MailerPort" />
                <input type="hidden" asp-for="Input.MailerCredentialUserName" />
                <input type="hidden" asp-for="Input.MailerCredentialPassword" />

                <input type="hidden" asp-for="Input.Email" />
                <input type="hidden" asp-for="Input.Password" />
                <input type="hidden" asp-for="Input.ConfirmPassword" />


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.PortfolioTitle"></label>
                    <input asp-for="Input.PortfolioTitle" class="form-control" />
                    <span asp-validation-for="Input.PortfolioTitle" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
}
else
{
    @: Go Away
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
