@using Microsoft.AspNetCore.Identity
@using PortfolioWebApp.Models.Accounts

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - PortfolioWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" asp-page="/Index" asp-area="Admin">PortfolioWebApp</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
        </ul>
        <partial name="_LoginPartial" />
    </nav>

    <div class="container-fluid">
        <div class="row">



            @if (SignInManager.IsSignedIn(User))
            {
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" is-active-page asp-page="/Index" asp-area="Admin">
                                    <span data-feather="home"></span>
                                    Home <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-page active-when="SimplePages" asp-page="/SimplePages/Index" asp-area="Admin">
                                    <span data-feather="file"></span>
                                    Simple Pages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-page active-when="NavigationEditor" asp-page="/NavigationEditor/Index" asp-area="Admin">
                                    <span data-feather="menu"></span>
                                    Navigation Editor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-page active-when="MyProjects" asp-page="/MyProjects/Index" asp-area="Admin">
                                    <span data-feather="folder"></span>
                                    My Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" is-active-page active-when="Settings" asp-page="/Settings" asp-area="Admin">
                                    <span data-feather="settings"></span>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            }

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewData["Title"]</h1>
                </div>

                @RenderBody()

            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>