@page
@model PortfolioWebApp.Areas.Portfolio.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.SimplePage != null)
{
    @Html.Raw(Model.SimplePage.HTML)
}
else
{
    <h1>Home</h1>


    @:Welcome to my portfolio!
}


