@page "{id:int?}"
@model PortfolioWebApp.Areas.Admin.Pages.MyProjects.DeleteModel
@{
    ViewData["Title"] = "Delete My Project";
}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="card text-center">
                <div class="card-header bg-danger text-white font-weight-bold">
                    My Project Id: @Model.DeleteId
                </div>
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete this navigation item?</h5>
                    <h6 class="card-title text-danger"><u>This action is irreversible.</u></h6>
                    <h6 class="card-title text-danger"><u>This will delete all the picture for the project.</u></h6>
                    <p class="card-text"><b>Title:</b> @Model.Title</p>
                    <p class="card-text"><b>Short Description:</b> @Model.ShortDescription</p>
                    <form id="deleteSimplePage" method="post">
                        <input asp-for="DeleteId" />
                        <button type="submit" class="btn btn-danger">DELETE</button>
                        <a asp-page="/MyProjects/Index" asp-area="Admin" class="btn btn-info">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>



